<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.struggle.excel.mapper.ElFieldMapper">
  <resultMap id="BaseResultMap" type="com.struggle.excel.model.ElField">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="index" jdbcType="INTEGER" property="index" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="el_fieldColumns">
    `id`, `index`, `name`, `type`
  </sql>
  <sql id="el_fieldDynamicWhere">
    <where>
      <if test="null != id and '' !=  id">AND id = #{ id}</if>
      <if test="null != index and '' !=  index">AND index = #{ index}</if>
      <if test="null != name and '' !=  name">AND name = #{ name}</if>
      <if test="null != type and '' !=  type">AND type = #{ type}</if>
	</where>
  </sql>
  <sql id="el_fieldDynamicLikeWhere">
    <where>
      <if test="null != id and '' !=  id">AND id LIKE #{ id}</if>
      <if test="null != index and '' !=  index">AND index LIKE #{ index}</if>
      <if test="null != name and '' !=  name">AND name LIKE #{ name}</if>
      <if test="null != type and '' !=  type">AND type LIKE #{ type}</if>
	</where>
  </sql>
  <select id="listPage" parameterType="com.struggle.excel.model.ElField" resultMap="BaseResultMap">
    SELECT <include refid="el_fieldColumns" /> FROM  `el_field` <include refid="el_fieldDynamicWhere" />
  </select>
  <select id="listLikePage" parameterType="com.struggle.excel.model.ElField" resultMap="BaseResultMap">
     <include refid="el_fieldDynamicLikeWhere" />
  </select>
  <select id="list" parameterType="com.struggle.excel.model.ElField" resultMap="BaseResultMap">
    SELECT <include refid="el_fieldColumns" /> FROM  `el_field` <include refid="el_fieldDynamicWhere" />
  </select>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
     <include refid="el_fieldDynamicWhere" /> WHERE id = #{id}
  </select>
  <select id="getOne" parameterType="com.struggle.excel.model.ElField" resultMap="BaseResultMap">
    SELECT <include refid="el_fieldColumns" /> FROM  `el_field` <include refid="el_fieldDynamicWhere" /> LIMIT 1
  </select>
  <select id="count" parameterType="com.struggle.excel.model.ElField" resultType="java.lang.Long">
    SELECT COUNT(1) FROM `el_field` <include refid="el_fieldDynamicWhere" />
  </select>
  <select id="countLike" parameterType="com.struggle.excel.model.ElField" resultType="java.lang.Long">
     <include refid="el_fieldDynamicLikeWhere" />
  </select>
  <sql id="save_el_field_columns">
    INSERT INTO `el_field`(
		`index`, `name`, `type`
	) VALUES
  </sql>
  <sql id="save_el_field_values">
    (
	  #{ index, jdbcType=INTEGER},
	  #{ name, jdbcType=VARCHAR},
	  #{ type, jdbcType=VARCHAR}
	)
  </sql>
  <sql id="batch_save_el_field_values">
    (
	  #{ item.index, jdbcType=INTEGER},
	  #{ item.name, jdbcType=VARCHAR},
	  #{ item.type, jdbcType=VARCHAR}
	)
  </sql>
  <insert id="save" keyProperty="id" parameterType="com.struggle.excel.model.ElField" useGeneratedKeys="true">
    <include refid="save_el_field_columns" /><include refid="save_el_field_values" />
  </insert>
  <insert id="saveBatch" parameterType="list" keyProperty="id" useGeneratedKeys="true" >
    <include refid="save_el_field_columns"/>
	<foreach collection="list" index="index" item="item" separator=",">
		<include refid="batch_save_el_field_values"/>
	</foreach>
  </insert>
  <sql id="el_fieldUpdate">
    UPDATE `el_field` 
	<set> 
      <if test="null != index">index = #{ index, jdbcType=INTEGER },</if>
      <if test="null != name">name = #{ name, jdbcType=VARCHAR },</if>
      <if test="null != type">type = #{ type, jdbcType=VARCHAR }</if>
	</set>
	WHERE id = #{id}
  </sql>
  <sql id="el_fieldUpdateBatch">
    UPDATE `el_field` 
	<set> 
      <if test="null != item.index">index = #{ item.index, jdbcType=INTEGER },</if>
      <if test="null != item.name">name = #{ item.name, jdbcType=VARCHAR },</if>
      <if test="null != item.type">type = #{ item.type, jdbcType=VARCHAR }</if>
	</set>
	WHERE id = #{ item.id }
  </sql>
  <update id="update" parameterType="com.struggle.excel.model.ElField">
    <include refid="el_fieldUpdate" />
  </update>
  <update id="updateBatch" parameterType="list">
    <foreach collection="list" index="index" item="item" open="" separator=";" close="">
	  	<include refid="el_fieldUpdateBatch" />
	</foreach>
  </update>
  <delete id="delete">
    DELETE FROM `el_field` WHERE id = #{id}
  </delete>

    <select id="getFields" resultType="com.struggle.excel.model.ElField">
        select id, `index`, `name`, `type` from `el_field`  WHERE id in (${fields})
    </select>
</mapper>